[submodule "libs/glfw"]
	path = engine/libs/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "libs/spdlog"]
	path = engine/libs/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "libs/assimp"]
	path = engine/libs/assimp
	url = https://github.com/assimp/assimp/
    shallow = true
